<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div th:replace = "navbar :: navbarFragment"></div>
    <strong>아티스트 이미지</strong>
    <br>
    <img alt = "" th:src = "@{${aritst.image}}"/>
    <table>
        <thead>
            <tr>
                <td>앨범이름</td>
                <td>아티스트명</td>
                <td>수록곡 수</td>
                <td>발매일</td>
                <td>리뷰수</td>
                <td>별점</td>
                <td>조회수</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each = 'album : ${artist.album}'>
                <td>
                    <a th:href = "@{'/album/detail/' + ${album.id}}" th:text = "${album.name}"></a>
                </td>
                <td>
                    <a th:href = "@{'/user/detail/' + ${album.artist.id}}" th:text = "${album.artist.username}"></a>
                </td>
                <td th:text = "${album.songsInAlbum.size()}"></td>
                <td th:text = "${album.dateOfIssue}"></td>
                <td th:text = "${album.numberOfReview}"></td>
                <td th:text = "${album.averageOfStar}"></td>
                <td th:text = "${album.hits}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>