<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login Page</title>
  <form action="/loginProc" method="post">
    <div class="form-group">
      <input type="email" name="email"
             id="email" class="form-control" placeholder="Email" required="required"/>
    </div>
    <div class="form-group">
      <input type="password" name="password"
             id="password" class="form-control" placeholder="Password" required="required"/>
    </div>
    <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
  </form>
</head>
<body>
  <a th:href="@{Join}">회원가입</a>
</body>
</html>