<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>notableHome</title>
    <link rel="stylesheet" th:href="@{/css/css.css}">
</head>
<body>
<a th:href="@{home}">홈으로</a>
<div class="bar">
    <p th:text="'사용자:'+${navbar.user.email}"></p>
    <p th:text="${navbar.user.role}"></p>
    <p><a th:href="@{/market/point}">포인트: [[${navbar.point.point}]]</a></p>
</div>
<table>
    <h3>리뷰 순</h3>
    <tr th:each="reviewNote : ${notableList.reviewNotes}">
        <td><a th:href="@{albumInform(albumId=${reviewNote.id})}">
            <img th:src="${reviewNote.image}" style="width:100px; height:100px;">
        </a></td>
        <td>[[${reviewNote.title}]]</td>
    </tr>
</table>
<table>
    <h3>조회순</h3>
    <tr th:each="viewNote : ${notableList.viewNotes}">
        <td> <a th:href="@{albumInform(albumId=${viewNote.id})}">
            <img th:src="${viewNote.image}" style="width:100px; height:100px;">
        </a></td>
        <td> [[${viewNote.title}]]</td>
    </tr>
</table>
<table>
    <h3>별점순</h3>
    <tr th:each="starNote : ${notableList.starNotes}">
        <td> <a th:href="@{albumInform(albumId=${starNote.id})}">
            <img th:src="${starNote.image}" style="width:100px; height:100px;">
        </a></td>
        <td> [[${starNote.title}]]</td>
    </tr>
</table>
</body>
</html>