<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ReviewDetail</title>
    <link rel="stylesheet" th:href="@{/css/css.css}">
</head>
<body>
<div class="bar">
    <p th:text="'사용자:'+${navbar.user.email}"></p>
    <p th:text="${navbar.user.role}"></p>
    <p><a th:href="@{/market/point}">포인트: [[${navbar.point.point}]]</a></p>
</div>
<a th:href="@{home}">홈으로</a>
    <table>
        <tr>
            <th>수록곡순서</th>
            <th>내용</th>
        </tr>
        <tr th:each ="Review, i :${albumReview.Reviews}">
            <td>[[${i.count}]]</td>
            <td>[[${Review}]]</td>
        </tr>
        <tr th:each ="comment :${albumReview.Comments}">
            <td>[[${comment.content}]]</td>
            <td>[[${comment.User.email}]]</td>
        </tr>
    </table>
    <form th:action="@{reviewComment}" th:object="${commented}" method="post">
        <input type="text" th:name="content">
        <input type="hidden" th:name="albumReviewId" th:value="${albumReview.id}">
        <button type="submit">등록</button>
    </form>
</body>
</html>