<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>albumReview</title>
    <link rel="stylesheet" th:href="@{/css/css.css}">
</head>
<body>
<div class="bar">
    <p th:text="'사용자:'+${navbar.user.email}"></p>
    <p th:text="${navbar.user.role}"></p>
    <p><a th:href="@{/market/point}">포인트: [[${navbar.point.point}]]</a></p>
</div>
    <table>
    <tr>
        <th>앨범</th>
        <th>제목</th>
        <th>작성자</th>
        <th>별점</th>
        <th>조회수</th>
    </tr>
    <tr th:each="albumReview : ${albumReviews}">
        <td> [[${albumReview.album.title}]]</td>
        <td><a th:href="@{reviewDetail(albumReviewId=${albumReview.id})}">[[${albumReview.title}]]</a></td>
        <td>[[${albumReview.user.email}]]</td>
        <td>[[${albumReview.star}]]</td>
        <td>[[${albumReview.view}]]</td>
    </tr>
        <td><a th:href="@{reviewCreate(albumId=${albumId})}">리뷰작성</a></td>
    </table>
</body>
</html>